[mysqld]
#general_log = 1
#general_log_file = /var/lib/mysql/general.log
max_connections=4000
mysqlx_max_connections=4000
mysqlx_connect_timeout=1200
innodb_lock_wait_timeout=300
wait_timeout=1800
interactive_timeout=28800
thread_cache_size=4
table_open_cache=256
connect_timeout=600
innodb_rollback_on_timeout=1
